body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 8px 16px;
    margin: 0 10px;
    background-color: rgb(22, 206, 227);
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #70b173;
}

main {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: #fff;
}
